<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <servers>
    <server>
      <id>${SNAP_REPO}</id>
      <username>${NEXUS_USER}</username>
      <password>${NEXUS_PASSWORD}</password>
    </server>
    <server>
        <id>${RELEASE_REPO}</id>
        <username>${NEXUS_USER}</username>
        <password>${NEXUS_PASSWORD}</password>
      </server>
      <server>
        <id>${CENTRAL_REPO}</id>
        <username>${NEXUS_USER}</username>
        <password>${NEXUS_PASSWORD}</password>
      </server>
      <server>
        <id>${NEXUS_GROUP_REPO}</id>
        <username>${NEXUS_USER}</username>
        <password>${NEXUS_PASSWORD}</password>
      </server>
  </servers>
  
</settings>